
<div class="mycontainer">


    <h3>Please select the files you want to convert!</h3>

  
    <div ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="uploadfilecontainer" 
        (click)="fileInput.click()" >
        <input type="file"  #fileInput ng2FileSelect [uploader]="uploader" multiple hidden />
  
    </div>
    
    <div  class="files-list" *ngFor="let item of uploader.queue">
        <div class="progress filtro" >
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
        <p> {{ item?.file?.name }} </p>
        <button class="delete-file" (click)="item.remove()">
            <img [src]="item.isSuccess ? 'assets/imagens/ok.png':'assets/imagens/Recycle_Bin_Full.png'" alt="image">
        </button>


    </div>

    
    <div class="converter-box">
        <input type="button" class="converter-btn" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" value="Convert">
    </div>


    <div  class="files-list" *ngFor="let item of convertidos">
        <div class="progress filtro" >
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
        <p> {{ item?.file?.name }} </p>
        <button class="delete-file" (click)="item.remove()">
            <img [src]="item.isSuccess ? 'assets/imagens/ok.png':'assets/imagens/Recycle_Bin_Full.png'" alt="image">
        </button>

           
       
    </div>
   

     

  <h3>Sticky Navigation Bar Example</h3>
  <p>The navbar will <strong>stick</strong> to the top when you reach its scroll position.</p>
  <p><strong>Note:</strong> Internet Explorer, Edge 15 and earlier versions do not support sticky positioning. Safari requires a -webkit- prefix.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  
 
  </div>


<router-outlet></router-outlet>
